@page
@model MockServer.Pages.kendo._2014._1._318.KGridModel
@{
    Layout = "~/Pages/kendo/2014.1.318/Shared/_Layout.cshtml";
}
<div id="grid"></div>
<div id="grid2"></div>

<partial name="KDropDown" />
@await Html.PartialAsync("KDropDown")
@if (Model.ShowNames)
{
    <h3>Names:</h3>
    <ul>
        @foreach (var name in Model.Names)
        {
            <li class="name">
                <div>@name</div>

                @for (var i = 0; i < 4; i++)
                {
                    for (var ii = 0; ii < 2; ii++)
                    {
                        <div>Testing</div>
                    }

                    <text>
                        <p>@(name)This is a paragraph. This is a paragraph. This is a paragraph.</p>
                    </text>
                }
            </li>
        }
    </ul>
    <div>
        @(String.Join(',', Model.Names))
    </div>
}

@functions {

    public bool IsValid(object obj)
    {
        return false;
    }

}

@section Demo {
    @if (Model.ShowNames)
    {
        <h3>Names:</h3>
        <ul>
            @foreach (var name in Model.Names)
            {
                <li class="name">@name</li>
            }
        </ul>
        <div>
            @(String.Join(',', Model.Names))
        </div>
    }
}

<script>
    $(function () {
        var dataSource = new kendo.data.DataSource({
            data: [
                { id: 1, name: "Jane Doe", age: 30 },
                { id: 2, name: "John Doe", age: 33 },
                { id: 3, name: "Tom", age: 29 },
                { id: 4, name: "Bob", age: 34 },
                { id: 5, name: "Sarah", age: 35 },
                { id: 6, name: "Alex", age: 44 },
                { id: 7, name: "Tim", age: 43 },
                { id: 8, name: "Cook", age: 54 },
                { id: 9, name: "Bleu", age: 21 },
                { id: 10, name: "Washington", age: 41 },
                { id: 11, name: "Jefferson", age: 85 },
                { id: 12, name: "Adams", age: 34 },
                { id: 13, name: "Walker", age: 55 },
                { id: 14, name: "Cook", age: 58 },
            ],
            pageSize: 2,
            model: {
                id: "id",
                fields: {
                    id: { editable: false, type: "number" },
                    age: { editable: true, type: "number" },
                    name: { editable: true, type: "string" }
                }
            }
        });

        $("#grid").kendoGrid({
            columns: [
                { field: "name" },
                { field: "age" }
            ],
            dataSource: dataSource,
            editable: {
                mode: "inline"
            },
            pageable: {
                pageSizes: [
                    2,
                    5,
                    10
                ],
                refresh: true
            },
            toolbar: ["create", "save", "cancel"],
            columns: [
                {
                    field: "name"
                },
                {
                    field: "age"
                },
                {
                    command: ["edit", "destroy"],
                    title: "&nbsp;",
                    width: "250px"
                }
            ]
        });

        $("#grid2").kendoGrid({
            columns: [
                { field: "name" },
                { field: "age" }
            ],
            dataSource: dataSource,
            editable: {
                mode: "inline"
            },
            pageable: false,
            toolbar: false,
            columns: [
                {
                    field: "name"
                },
                {
                    field: "age"
                },
                {
                    command: ["edit", "destroy"],
                    title: "&nbsp;",
                    width: "250px"
                }
            ]
        });
    });
</script>
